
@{
    <header class="header">
        <div>MegaDesk</div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" asp-area="" asp-page="/DeskQuotes/Index">All Quotes</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" asp-area="" asp-page="/Index">Privacy</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" asp-area="" asp-page="/Index">Home</a>
                </li>
            </ul>
        </nav>
    </header>
}
