@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h4>Mega Desk</h4>
        <a href="~/DeskQuotes/Create" class="btn btn-primary btn-lg btn-block">Create New Quote</a>
        <a href="~/DeskQuotes" class="btn btn-primary btn-lg btn-block">View All Quotes</a>
    </div>
